body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fce4ec; /* Rosa Hintergrund */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

p {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hidden {
    display: none;
}
